<button class="btn btn-primary" (click)="refreshTable()">Refresh</button>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">Email</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Actions</th> 
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button>
        <button class="btn btn-info" (click)="viewFlights(user)">View Flights</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Display booked flights table -->
<div *ngIf="selectedUser">
  <h4>Booked Flights for {{ selectedUser.email }}</h4>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Airline</th>
        <th scope="col">Destination</th>
        <th scope="col">Departure</th>
        <th scope="col">Departure Date</th>
        <th scope="col">Flight Time</th>
        <th scope="col">Price</th>
        <th scope="col">Payment Method</th>
      
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let flight of bookedFlights">
        <td>{{ flight.airline }}</td>
        <td>{{ flight.destination }}</td>
        <td>{{ flight.departure }}</td>
        <td>{{ flight.departureDate }}</td>
        <td>{{ flight.departureDuration }}</td>
        <td>{{ flight.price }}</td>
        <td>{{ flight.paymentMethod }}</td>
      </tr>
    </tbody>
  </table>
</div>
