<!-- <table>
  <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="table-hover">
    <tr *ngFor="let user of users">
      <td scope="row">{{ user.uid }}</td>
      <td>{{ user.email }}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteUser(user.uid)">Delete</button>
      </td>
    </tr>
  </tbody>
</table> -->


<!-- registration.component.html -->
<!-- <div>
  <h2>Register</h2>
  <form (ngSubmit)="registerUser()" #registerForm="ngForm">
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <button type="submit" [disabled]="!registerForm.valid">Register</button>
  </form>
</div> -->

<H1>HELLO</H1>