table {
    margin: auto;
    width: 100%;
    align-items: relative;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  th, td {
    text-align: left;
    padding: 8px; 
  }
  
  th {
    background-color: #f2f2f2;
  }
  