<div>
  <div class="topnav shadow p-1">
    <div class="header">
      <div class="logo">TRAVELPORT</div>

      <div class="flex-grow-1"></div>

      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="sidebar shadow p-2" id="sidebar">
    <a routerLink="/add-flights" class="hover-link"><i class="bi bi-plus-circle"></i> add-flights</a>
    <a routerLink="/booked-flights" class="hover-link"><i class="bi bi-airplane"></i> booked-flights</a>
    <a routerLink="/users" class="hover-link"><i class="bi bi-person-gear"></i> Users</a>
    <a routerLink="/logout" class="hover-link"><i class="bi bi-box-arrow-left"></i> Logout</a>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
