<!-- layout.component.html -->
<div class="topnav shadow p-1">
  <div class="header">
    <div class="logo"><i class="bi bi-airplane"></i>TRAVELPORT ADMIN <i class="bi bi-airplane"></i></div>
    <div class="flex-grow-1"></div>
  </div>
</div>

<div class="sidebar shadow p-2" id="sidebar">
  <a routerLink="/layout/add-flights" class="hover-link"><i class="bi bi-plus-circle"></i> add-flights</a>
  <a routerLink="/layout/booked-flights" class="hover-link"><i class="bi bi-airplane"></i> Booked-flights</a>
  <a routerLink="/layout/users" class="hover-link"><i class="bi bi-person-gear"></i> Users</a>
  <a href="#" class="hover-link" (click)="logout()"><i class="bi bi-box-arrow-left"></i> Logout</a>
</div>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
