
.sidebar {
    position: fixed;
    top: auto;
    overflow: auto;
    background-color: #fff;
    height: 100%;
    border-right: 1px solid rgb(128, 128, 128);
    padding: 30px 5px;
    margin: 0px;
    width: 200px;
  }
  
  .sidebar a {
    text-decoration: none;
    padding: 10px 10px;
    color: #000;
    text-align: left;
    display: block;
  }
  
  .sidebar i {
    padding-right: 10px;
  }
  
  .sidebar .icon {
    float: right;
  }
  
  
  .main-content {
    margin-left:230px;
    margin-top: 10px;
    padding: 10px 18px;
    transition: margin-left .5s;
  }
  /* main-content */
  
  @media screen and (max-width:500px) {
  
    .menu 
    {
        display: block;
    }
    .sidebar{
        display: none;
        width: 160px;
    }
    .sidebar a{
        padding: 10px 0px;
    }
    .main-content
    {
        margin-left: 0px;
    }
  
  }
  
  
  /* header */
  
  .header {
    height: 20%;
    padding: 20px 50px;
    background-color: rgb(1, 38, 69);
    color: #fff;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 5px #939393;
    .logo {
      font-weight: bold;
      font-size: 20px;
    }
    
    .user {
      display: flex;
      align-items: center;
      font-weight: bold;
     
      .user-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #fff;
        background-color: rgb(11, 107, 185);
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
      }
    }
  }
  